<!doctype html>
<html lang="en">
<head>
    <%- include('./components/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/book-details.css">

</head>
<body>
<%- include('./components/nav.ejs') %>
<main>
    <div class="container-lg my-5">
        <div class="col  bg-platinium border border-info rounded-end">
                <div class="row">
                    <div class="col-md-4 d-flex justify-content-center">
                        <img src="/images/open-book.svg" class="img-fluid mx-3" alt="open book">
                    </div>
                    <div class="col-md-8">
                        <div class="row mb-4 mx-2"><h1>Zaktualizuj</h1></div>
                        <form class="row">
                            <div class="col col-lg-6 mx-2">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="material-icons md-auto">title</i></span>
                                    <input type="text" class="form-control" placeholder="Tytuł" aria-label="Title" aria-describedby="basic-addon1" name="title" value="<%= book.title %>" id="title-input" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon2"><i class="material-icons md-auto">person</i></span>
                                    <input type="text" class="form-control" placeholder="Autor" aria-label="Author" aria-describedby="basic-addon2" name="author" value="<%= book.author %>" id="author-input" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon3"><i class="material-icons md-auto">calendar_month</i></span>
                                    <input type="date" class="form-control" placeholder="Data opublikowania" aria-label="publishedDate" aria-describedby="basic-addon3" name="publishedDate" value="<%= book.publishedDate.toISOString().substring(0, 10) %>" id="date-input" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon4"><i class="material-icons md-auto">category</i></span>
                                    <input type="text" class="form-control" placeholder="Gatunek" aria-label="Genre" aria-describedby="basic-addon4" name="genre" list="datalistOptions" value="<%= book.genre %>" id="genre-input" required>
                                    <datalist id="datalistOptions">
                                                        <option value="Historyczna">
                                                        <option value="Powieść literacka">
                                                        <option value="Fantastyka">
                                                        <option value="Kryminał/thriller">
                                    </datalist>
                                </div>
                            </div>

                        </form>
                        <div class="row">
                        <div class="col-sm font-size-20">
                            <button type="button" class="btn-custom-green my-2 mx-2" onclick="updateData()">Zaktualizuj dane książki</button>
                            <button type="button" class="btn btn-danger my-2 mx-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                <i class="material-icons md-auto my-auto mx-auto">delete</i>
                            </button>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>



    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Czy na pewno chcesz usunąć książkę?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Po usunięciu zostaniesz przekierowany do strony wyszukiwania.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-danger" id="btn-delete" onclick="deleteBook()">Potwierdź</button>
                </div>
            </div>
        </div>
    </div>


    <div class="toast-container position-fixed top-50 end-0 p-3">
        <div id="liveToast" class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="8000">
            <div class="toast-header">
                <i class="material-icons md-auto mx-1">sync_alt</i>
                <strong class="me-auto">iBiblio</strong>
                <small>przed chwilą..</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Twoje zmiany zostały zapisane!
            </div>
        </div>
    </div>
</main>



<%- include('./components/footer.ejs') %>
<%- include('./components/scripts.ejs') %>
<script src="/javascripts/book-details.js"></script>
</body>
</html>